:root {
    --main-bg-color: rgb(145, 191, 69);
    --secondary-color: rgb(71, 95, 33);
    --border-button-color: rgba(99, 133, 46);
    --input-bg-color: rgba(255, 255, 255, 0.5);
    --dark-bg-text-color: #eeeeee;
    --light-bg-text-color: black;
}

/* #foo {
    color: var(--main-color);
} */

* {
    box-sizing: border-box;
}

/** styling for various screens 
* TODO: test and refine for screens
*/

@media (min-width: 500px) {
    html {
        font-size: 48px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 24px;
    }
}

/* general font setting */
html {
    font-family: Verdana, Geneva, sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;    
}

body {
    background-color: var(--main-bg-color);
}

main {
    flex-flow: column;
    height: 100%;
    display: flex;
}

/* styling for the main app pages */
.mainscreen {
    display: none;
    /* max-height: 100%; */
    flex: 1 1 90%;
    /* background-color: rgb(145, 191, 69); */
    /* background-color: rgb(99, 133, 46); */
    overflow-y: hidden;
}

/* styling for general overlays of app */
.mainscreen_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0, 0.5);

    padding: 20px;
}

/* generic class for flexflow and scrollable containers *?
/* TODO: make app use generic classes? */
.container_flexflow {
    height: 100%;
    flex-flow: column;
    display: flex;
}

.container_scrollable {
    min-height: 20%;
    overflow-y: auto;
    height: 100%;
    flex: 0 1 auto;
}



.content_centerer {
    /* used to center content on the gameroll screens */
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;
}

.content_block {
    /* contains all centered content */
    margin: auto;
    width:100%;
    flex: 0 1 auto;
}


.content_fill {
    height: 100%;
    margin: auto;
    width:100%;
    flex: 1 1 auto;
}










/* styling for the game rolling panels */
.game_roll_panel {
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    
    text-align: center;
    background-color: var(--main-bg-color);
}

.game_roll_panel img {
    display: block;
    width:80%;
    /* height:80%; */
    max-width: 80%;
    /* max-height: 80%; */
    /* width: auto;
    height: auto; */
    margin: 5px auto;
}

.game_roll_panel input {
    width: 20%;
}

.game_roll_panel button {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;

}

/* Game roll form */
.game_roll_form {
    width: 100%;
    /* height: 100%; */
    margin: auto;
    padding: 10px;
    
    text-align: center;
    /* background-color: var(--main-bg-color); */
    /* background-color: #444444; */
}

.game_roll_form div {
    margin: 20px 0px;
}

.game_roll_form input {
    padding: 20px 20px;
}

input {
    padding: 10px 20px;
    border: 0.1rem solid var(--border-button-color);
    background-color: var(--input-bg-color);
    font: inherit;
}


/* .game_roll_form button { */
button {
    width: 80%;
    font: inherit;
    text-transform: uppercase;
    padding: 20px 40px;
}

/* Styling for the menu */
.app_menu {
    background-color: var(--secondary-color);
    /* background-color: rgb(145, 191, 69); */
    /* background-color: rgb(71, 95, 33); */
    flex: 0 0 4rem;
    display: flex;
    flex-flow: row;
}

.app_menu a {
    height: 100%;
    width: 100%;
    text-decoration-line: none;
    color: #eeeeee;
    /* border-right: 2px solid rgb(145, 191, 69); */
    margin: 1px;
    
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.app_menu a:hover {
    /* background-color: rgb(71, 95, 33); */
    cursor: pointer;
}

/* App submenu */
.app_submenu {
    flex: 0 0 5%;
    /* background-color: #63852e; */
}

.app_menu .active_tab {
    background-color: var(--main-bg-color);
    color: var(--light-bg-text-color);
}


/* Styling for game management pages */
#game_card_list {
    flex: 1 1 auto;
}

#games_list_empty {
    text-align: center;
}


/* Styling for game management record cards */
.game_record {
    margin: 0.25rem;
    padding: 0.25rem;
    
    background-color: var(--input-bg-color);
    border: 0.1rem solid var(--border-button-color);

    display:flex;
    flex-flow: column;
}

.game_record_header {
    flex: 0 1 1rem;    
    display: flex;
    flex-flow: row;
    /* background-color: var(--main-bg-color); */
    /* border-bottom: 0.1rem solid var(--border-button-color); */
    color: var(--light-bg-text-color);
}

.game_record_header a {
    background-color: var(--border-button-color);
    color: var(--dark-bg-text-color);
    /* width: 10%; */
    /* height: 5%; */
    /* overflow: hidden; */
    margin: 0.05rem;
    text-align: center;
    width: 50%;
    /* flex: 1 1 auto; */
}

.game_record_title_spacer {
    flex: 0 0 15%;

}

.game_record_button_float {
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 1.35em;
}

.game_record_title {
    flex: 0 0 85%;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}


.game_record_info {
    
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;

    /* vertical-align: middle; */

    /* height: 100%; */
    /* overflow-y:auto; */
}

.game_cover_box {
    flex: 0 0 25%;
}

.game_cover {
    width: 100%;
    display:block;
    /* height: 100%; */
}

.game_record_text {
    /* flex: 0 0 80%; */
    margin-left: 0.3rem;

    /* max-width: 100%; */
    /* max-height: 100%; */
    /* max-width: 20%; */
    /* min-width: 40px; */
    /* margin-right: 10px; */
    /* float:left; */
}

img.game_version_cover {
    width: 25%;;
    margin:0px;
}

.game_card_label{
    font-weight: bold;
}



#add_game_form {
    /* max-height: 75%; */
    height: 25rem;
}

.search_button {
    display: block;
    background-color: var(--border-button-color);
    color: var(--dark-bg-text-color);
    text-align: center;
    padding: 1rem;
}


/* game management pages */
.game_add_panel {
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgb(145, 191, 69);
    text-align: center;
}

.game_add_form {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.game_add_form input {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.game_search_form a {
    padding: 1rem;
    background-color: var(--border-button-color);
    margin-left: 0.5rem;
}

.game_search_form {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
}

.game_search_form input {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
}

.search_form{

}



/* Game roll form */

/* bgg search styles */
.search_results a {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 1px solid #63852e; */
    border: 0.1rem solid #63852e;
    width: 90%;
    margin: 5px auto;
}

/* bgg details styles */
a.details_screen_selected {
    background-color: rgb(124,124,124);
    color: #eeeeee;
}

a.details_screen_notselected {
    /* background-color: peru; */
}



/** styling for app screens */
.appscreen_header {
    background-color: var(--secondary-color);
    color: var(--dark-bg-text-color);
    flex: 0 0 4rem;
    display: flex;
    flex-flow: row;

    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.appscreen_footer {
    /* background-color: var(--border-button-color); */
    /* background-color: ; */
    color: var(--dark-bg-text-color);
    flex: 0 0 4rem;
    display: flex;
    flex-flow: row;
}

.appscreen_header div {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
}

.appscreen_footer a {
    /* height: 100%; */
    width: 100%;
    text-decoration-line: none;

    background-color: var(--border-button-color);
    margin: 0.1rem 0.05rem;
    
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
}

.appscreen_footer a:hover {
    cursor: pointer;
}

.mainscreen_overlay {
    display: none;
    padding: 0.5rem;
}

/* overlay screen styling */
.overlay_screen {
    display: none;
    background-color: var(--main-bg-color);
    border: 0.2rem solid var(--main-bg-color);
}

.overlay_screen img {
    
    max-width: 80%;
    
    width:80%;
    display: block;
    margin: 5px auto;
}

.subtext {
    text-align: center;
    font-style: italic;
}
