
* {
    box-sizing: border-box;
}

/** styling for various screens 
* TODO: test and refine for screens
*/

@media (min-width: 500px) {
    html {
        font-size: 48px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 24px;
    }
}

/* general font setting */
html {
    font-family: Verdana, Geneva, sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    
}

body {
    background-color: rgb(145, 191, 69);
}

main {
    flex-flow: column;
    height: 100%;
    display: flex;
}

/* styling for the main app pages */
.mainscreen {
    display: none;
    /* max-height: 100%; */
    flex: 1 1 90%;
    /* background-color: rgb(145, 191, 69); */
    /* background-color: rgb(99, 133, 46); */
    overflow-y: hidden;
}


/* generic class for flexflow and scrollable containers *?
/* TODO: make app use generic classes? */
.container_flexflow {
    height: 100%;
    flex-flow: column;
    display: flex;
}

.container_scrollable {
    min-height: 20%;
    overflow-y: auto;
    flex: 1 1 auto;
}

/* styling for general overlays of app */
.mainscreen_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0, 0.5);
    /* color: #ffffff; */

    padding: 20px;
}

.content_centerer {
    /* used to center content on the gameroll screens */
    display: flex;
    flex-flow: column;
    width: 100%;
    /* height: 100%; */
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;
}

.content_block {
    /* contains all centered content */
    margin: auto;
    width:100%;
}


/* styling for the game rolling panels */
.game_roll_panel {
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    
    text-align: center;
    background-color: rgb(145, 191, 69);
}

.game_roll_panel img {
    display: block;
    width:80%;
    /* height:80%; */
    max-width: 80%;
    /* max-height: 80%; */
    /* width: auto;
    height: auto; */
    margin: 5px auto;
}

.game_roll_panel input {
    width: 20%;
}

.game_roll_panel button {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;

}

/* Game roll form */
.game_roll_form {
    width: 100%;
    /* height: 100%; */
    margin: auto;
    padding: 10px;
    
    text-align: center;
    background-color: rgb(145, 191, 69);
    /* background-color: #444444; */
}

.game_roll_form div {
    margin: 20px 0px;
}

.game_roll_form input {
    padding: 20px 20px;
}

input {
    padding: 10px 20px;
    border: 0.1rem solid rgb(99, 133, 46);;
    background-color: rgba(255, 255, 255, 0.5);
    font: inherit;
}


/* .game_roll_form button { */
button {
    width: 80%;
    font: inherit;
    text-transform: uppercase;
    padding: 20px 40px;
}

/* Styling for the menu */
.app_menu {
    background-color: rgb(99, 133, 46);
    /* background-color: rgb(145, 191, 69); */
    /* background-color: rgb(71, 95, 33); */
    flex: 0 0 10%;
    display: flex;
    flex-flow: row;
}

.app_menu a {
    height: 100%;
    width: 100%;
    text-decoration-line: none;
    color: #eeeeee;
    /* border-right: 2px solid rgb(145, 191, 69); */
    margin: 1px;
    
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.app_menu a:hover {
    /* background-color: rgb(71, 95, 33); */
    cursor: pointer;
}

/* App submenu */
.app_submenu {
    flex: 0 0 5%;
    /* background-color: #63852e; */
}

.app_menu .active_tab {
    background-color: rgb(145, 191, 69);
    color: black;
}


/* Styling for game management pages */
#game_card_list {
    flex: 1 1 auto;
}

#games_list_empty {
    text-align: center;
}

/* Styling for game management record cards */
.game_record {
    margin: 5px;
    padding: 10px;
    
    /* background-color: green; */
    /* background: rgb(145, 191, 69); */
    background-color: rgb(255,255,255,0.5);
    border: 0.1rem solid rgb(99, 133, 46);

    overflow-x: hidden;
    overflow-y: auto;
    
    text-align: left;
}

.game_record_title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.game_record_info {
    
    vertical-align: middle;
    height: 100%;
    overflow-y:auto;
}

.game_record_info img {
    max-width: 20%;
    min-width: 40px;
    margin-right: 10px;
    float:left;
}

.game_card_label{
    font-weight: bold;
}

/* game management pages */
.game_add_panel {
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgb(145, 191, 69);
    text-align: center;
}

/* bgg search styles */
.search_results a {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 1px solid #63852e; */
    border: 0.1rem solid #63852e;
    width: 90%;
    margin: 5px auto;
}

/* bgg details styles */
a.details_screen_selected {
    background-color: rgb(124,124,124);
    color: #eeeeee;
}

a.details_screen_notselected {
    /* background-color: peru; */
}

